* {
   box-sizing: border-box;
}

body {
   margin: 0;
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
}

#chart-container {
   width: 90%;
   margin: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.title {
   width: 100%;
}

.book {
   width: 46%;
   margin: 2%;
   padding: 1%;
   text-align: center;
}

.book h3 {
   margin: 0.5em 0;
}
